@import "variables";

.tools {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $color-grey-lighter;
    margin: $section-margins 0;
    padding: 2rem;
    
    @media (max-width: 1060px) {
        flex-direction: column;
        align-items: center;
    }
    
    @media (max-width: 460px) {
        margin: 10rem 0;
        padding: 2rem 0 0 0;
    }
}

.tool {
    max-width: 50rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
    border-radius: 5px;
    overflow: hidden;
    padding: 2rem 2rem 3rem 2rem;
    background-color: #fff;
    
    @media (max-width: 730px) {
        align-items: center;
        text-align: center;
    }
    
    @media (max-width: 460px) {
        border-radius: 0;
    }
    
    &:first-of-type {
        margin-right: 10rem;
        
        @media (max-width: 1060px) {
            margin-right: 0;
            margin-bottom: 10rem;
        }
        
        @media (max-width: 460px) {
            margin-bottom: 0;
        }
    }
    
    &__image {
        width: calc(100% + 4rem);
        margin-left: -2rem;
        margin-top: -2rem;
        max-height: 40rem;
        object-fit: cover;

        @media (max-width: 730px) {
            margin-left: 0;
        }
    }

    &__header {
        font-size: 3rem;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
    }

    &__text {
        font-size: 1.5rem;
        max-width: 70%;
        min-height: 5.4rem;
    }

    &__button {
        border: 0.25rem solid $color-grey-darker;
        border-radius: 0.5rem;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        font-weight: 600;
        transition: $ts02;
        display: flex;
        align-items: center;
        transition: $ts02;
        margin-top: auto;

        &:hover &__icon, &:focus &__icon {
            opacity: 1;
        }

        &:hover &__text, &:focus &__text {
            margin-right: 2rem;
        }

        &__text {
            margin-right: -2rem;
            transition: $ts02;
        }

        &__icon {
            opacity: 0;
            font-size: 2rem;
            line-height: 1.6rem;
            transition: $ts02;
        }
    }
}

.tools-header {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
}

.tools-heading {
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1.5rem;
}

.tools-info {
    font-size: 1.5rem;
    font-weight: 600;
}