// VARIABLES
$color-grey-medium: #454545;
$color-grey-dark: #2b2b2b;
$color-grey-darker: #111111;
$color-grey-light: #d8efef;
$color-cyan-light: #00838c;
$color-cyan-medium: #09757a;
$color-cyan-dark: #004249;

$ts02: all 0.2s;
$ts04: all 0.4s;

$side-margins: 6rem;