// VARIABLES
$color-grey-medium: #454545;
$color-grey-dark: #2b2b2b;
$color-grey-darker: #111111;
$color-grey-light: #d8efef;
$color-grey-lighter: #e7fbfb;
$color-grey-lightest: #f0fbfb;
$color-cyan-light: #00838c;
$color-cyan-medium: #09757a;
$color-cyan-dark: #004249;
$color-beige: #fde9db;

$ts02: all 0.2s;
$ts04: all 0.4s;

$side-margins: 6rem;
$section-margins: 6rem;