// IMPORTS 
@import "header";
@import "reset";
@import "utility";
@import "search";
@import "hero";
@import "tools";
@import "drawer";
@import "reviews";
@import "dropdown";
@import "footer";

// BASE STYLES
html {
    font-size: 62.5%;
    font-family: 'Libre Franklin', sans-serif;
}

