@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.header {
  padding: 0 4rem;
  background-color: #2b2b2b;
  height: 6.4rem;
  display: flex;
  align-items: center;
  color: #d8efef;
  font-size: 2rem;
}

.logo {
  font-weight: 700;
  font-size: 2.3rem;
  margin-right: 2rem;
}

.hamburger {
  margin-right: 2rem;
}
@media (min-width: 1210px) {
  .hamburger {
    display: none;
  }
}
.hamburger__icon {
  font-size: 3rem;
  color: #d8efef;
}

.nav {
  width: 100%;
  display: flex;
}
.nav__links {
  display: flex;
}
@media (max-width: 1210px) {
  .nav__links {
    display: none;
  }
}
.nav__links-mobile {
  flex-direction: column;
}
.nav__item {
  display: flex;
}
.nav__item-mobile {
  font-size: 1.7rem;
  margin: 4.8rem 0;
}
.nav__link {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 3rem;
  padding: 1rem 2rem;
  transition: all 0.2s;
  border-radius: 10px;
  margin-left: 0.5rem;
}
.nav__link:hover {
  color: #fff;
  background-color: #00838c;
}
.nav__link:focus {
  color: #111111;
  background-color: #fff;
}
.nav__link-mobile {
  line-height: 3rem;
  display: flex;
  transform-origin: left center;
  font-weight: 500;
}
.nav__link-mobile:hover .nav__icon-mobile, .nav__link-mobile:focus .nav__icon-mobile {
  transform: translateX(1rem);
}
.nav__icon-mobile {
  transition: all 0.2s;
  font-size: 3rem;
  margin-left: auto;
}
.nav__buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.nav__buttons-mobile {
  margin-top: auto;
  margin-bottom: 1rem;
  flex-direction: column;
}
.nav__button {
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  transition: all 0.2s;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}
@media (max-width: 670px) {
  .nav__button {
    padding: 1.5rem;
  }
}
@media (max-width: 510px) {
  .nav__button {
    display: none;
  }
}
.nav__button:hover {
  color: #fff;
  background-color: #00838c;
}
.nav__button:focus {
  color: #111111;
  background-color: #fff;
}
@media (max-width: 670px) {
  .nav__button__text {
    display: none;
  }
}
.nav__button__icon {
  font-size: 2rem;
}
@media (max-width: 670px) {
  .nav__button__icon {
    display: none !important;
  }
}
.nav__button__icon-mobile {
  font-size: 2rem;
  display: none !important;
}
@media (max-width: 670px) {
  .nav__button__icon-mobile {
    display: inline-block !important;
  }
}
.nav__button-mobile {
  display: flex;
  padding: 1rem 0;
  transition: all 0.2s;
  width: 100%;
}
.nav__button-mobile__icon {
  font-size: 2.4rem;
}
.nav__button-mobile__text {
  line-height: 2.4rem;
  font-size: 1.5rem;
  margin-left: 1rem;
  font-weight: 500;
}
.nav__button-mobile:hover, .nav__button-mobile:focus {
  background-color: #d8efef;
}

.mobile-nav {
  color: #2b2b2b;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1.3px);
  animation: fade-in 0.2s;
}
.mobile-nav__container {
  padding: 0 2rem;
  width: 35rem;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  animation: fade-in-from-left 0.4s 0.2s backwards;
}
@media (max-width: 800px) {
  .mobile-nav__container {
    width: 100%;
  }
}
.mobile-nav__logo {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
  position: relative;
  margin-top: 1.4rem;
  display: flex;
}
.mobile-nav__x-icon {
  color: #fff;
  font-size: 3.5rem;
}
@media (max-width: 800px) {
  .mobile-nav__x-icon {
    color: #2b2b2b;
  }
}
.mobile-nav__exit-button {
  position: absolute;
  right: -6rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
}
@media (max-width: 800px) {
  .mobile-nav__exit-button {
    position: inherit;
    color: #2b2b2b;
    margin-left: auto;
    right: 0;
  }
}
.mobile-nav__exit-button:hover, .mobile-nav__exit-button:focus {
  caret-color: transparent;
  outline: none;
  border: none;
  transform: translateY(-50%) scale(1.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
a:focus, a:hover {
  outline: none;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
button:focus, button:hover {
  outline: none;
}

.not-visible {
  display: none;
}

html {
  font-size: 62.5%;
  font-family: "Libre Franklin", sans-serif;
}
